boto==2.36.0
copytext==0.1.9
Django==1.7.5
django-bootstrap-form==3.1
django-filter==0.9.2
django-nested-inline==0.3.4
django-storages==1.1.8
djangorestframework==3.0.5
gevent==1.0.1
gunicorn==19.3.0
httplib2==0.9
jdcal==1.0
jmespath==0.6.1
Markdown==2.6
MarkupSafe==0.23
openpyxl==2.2.1
Pillow==2.7.0
psycopg2==2.6.0
python-dateutil==2.4.1
pytz==2015.2
PyYAML==3.11
requests==2.6.0
six==1.9.0
zencoder==0.6.5